name: Sphinx Documentation
on:
  pull_request:
    branches: [ master ]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Set up Python 3.
      uses: actions/setup-python@v3
      with:
        python-version: 3.6

    - name: install
      run: pip3 install sphinx sphinx-rtd-theme recommonmark # ensmallen_graph==0.6.0 pandas parameterized setuptools scipy

    - name: Build documentation.
      run: |
        mkdir gh-pages
        touch gh-pages/.nojekyll
        cd docs/
        sphinx-build -b html . _build
        cp -r _build/* ../gh-pages/

    - name: Deploy documentation.
      if: ${{ github.event_name == 'pull_request' }}
      uses: JamesIves/github-pages-deploy-action@v4.3.0
      with:
        branch: gh-pages
        force: true
        folder: gh-pages
